*.swp
.direnv/
.envrc
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
public/
venv/
static/
.python-version
pyproject.toml
requirements.lock
requirements-dev.lock
