<html>
  <body>
    <div style="padding: 10px;">
      <h1>Embed a Pathway</h1>
      <p>Copy any of the examples below to embed a WikiPathways pathway into your own site.</p>

      <h2>Basic</h2>
      <p>Just embed a pathway:</p>
      <pre>
        <code>
          &lt;iframe
            src="https://pathway-viewer.toolforge.org/embed/WP528"
            width="600px"
            height="300px"
            style="overflow:hidden; border:solid;"&gt;
          &lt;/iframe&gt;
        </code>
      </pre>
      <iframe
          src="https://pathway-viewer.toolforge.org/embed/WP528"
          width="600px"
          height="300px"
          style="overflow:hidden; border:solid;">
      </iframe>

      <h2>Highlight Nodes</h2>
      <p>You can highlight by identifier (Entrez_Gene, Ensembl, ChEBI, HMDB or Wikidata) or by node label. Specify a recognized CSS color name or hex value and an identifier or node label like this:</p>
      <pre>
        <code>
          &lt;iframe
            src="https://pathway-viewer.toolforge.org/embed/WP528?lightgreen=PEMT&amp;lightpink=Choline"
            width="600px"
            height="300px"
            style="overflow:hidden; border:solid;"&gt;
          &lt;/iframe&gt;
        </code>
      </pre>
      <iframe
          src="https://pathway-viewer.toolforge.org/embed/WP528?lightgreen=PEMT&lightpink=Choline"
          width="600px"
          height="300px"
          style="overflow:hidden; border:solid;">
      </iframe>

      <p>Equivalent with hex values and node identifiers:</p>
      <pre>
        <code>
          &lt;iframe
            src="https://pathway-viewer.toolforge.org/embed/WP528?90ee90=Entrez_Gene_10400&amp;ffb6c1=HMDB_HMDB0000097"
            width="600px"
            height="300px"
            style="overflow:hidden; border:solid;"&gt;
          &lt;/iframe&gt;
        </code>
      </pre>
      <iframe
          src="https://pathway-viewer.toolforge.org/embed/WP528?90ee90=Entrez_Gene_10400&ffb6c1=HMDB_HMDB0000097"
          width="600px"
          height="300px"
          style="overflow:hidden; border:solid;">
      </iframe>

      <p>To specify multiple identifiers for one color, separate with commas.</p>
      <pre>
        <code>
          &lt;iframe
            src="https://pathway-viewer.toolforge.org/embed/WP528?lightgreen=Entrez_Gene_10400,Entrez_Gene_1103"
            width="600px"
            height="300px"
            style="overflow:hidden; border:solid;"&gt;
          &lt;/iframe&gt;
        </code>
      </pre>
      <iframe
          src="https://pathway-viewer.toolforge.org/embed/WP528?lightgreen=Entrez_Gene_10400,Entrez_Gene_1103"
          width="600px"
          height="300px"
          style="overflow:hidden; border:solid;">
      </iframe>

      <h2>Mapped Identifiers</h2>
    <p>We map all identifiers to the those in the list above, so you can feel free to use whichever ones you prefer. For example the authors of pathway WP528 specified Entrez Gene (NCBIGene) identifiers, but you can highlight with Ensembl:</p>
      <pre>
        <code>
          &lt;iframe
            src="https://pathway-viewer.toolforge.org/embed/WP528?lightgreen=Ensembl_ENSG00000133027,Ensembl_ENSG00000070748"
            width="600px"
            height="300px"
            style="overflow:hidden; border:solid;"&gt;
          &lt;/iframe&gt;
        </code>
      </pre>
      <iframe
          src="https://pathway-viewer.toolforge.org/embed/WP528?lightgreen=Ensembl_ENSG00000133027,Ensembl_ENSG00000070748"
          width="600px"
          height="300px"
          style="overflow:hidden; border:solid;">
      </iframe>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  </body>
</html>
